/* Create Post form */
.form_container {
  justify-content: center;
  p {
    text-align: center;
    padding: 2px;
    font-size: 30px;
    margin-top: 50px;
    color: gray;
  }
  .message {
    text-align: center;
    padding: 15px;
    display: block;
    color: green;
  }
}

.form_group {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  label {
    padding: 10px;
  }
  input {
    border-radius: 12px;
    font-size: 15px;
  }
  textarea {
    border-radius: 12px;
    font-size: 15px;
  }
}

.btn {
  width: 20%;
  display: block;
  margin: 20px auto;
  padding: 1px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
