@import "./_variables.module.scss";
.navbar {
  display: $display-flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
  p {
    padding: 10px;
    font-weight: 100px;
    cursor: pointer;
  }
  ul {
    margin-left: 20%;
    display: $display-flex;
    li {
      list-style-type: none;
      margin: 10px 40px;
      padding: 10px;
      &:hover {
        border-bottom: 2px solid black;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
