@import "./variables.module";
.loading {
  display: $display-flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  padding: 5px;
  color: red;
}

.single_item {
  margin: 10px 10px;
  padding: 20px;
  box-shadow: 0 10px 20px gray;
}
.todo_top {
  display: $display-flex;
  justify-content: space-between;
  align-items: center;
}

.todo_title {
  margin: 3px 4px;
}

.todo_title {
  font-weight: bold;
  font-size: 20px;
}

.todo_description {
  margin: 5px;
  padding: 3px;
  line-height: 35px;
}

.recentTodo {
  p {
    text-align: center;
    font-size: 30px;
    color: gray;
  }
}

.action_button {
  margin-right: 10px;
}
